	/* =========== Basic styling =========== */

	body {
		background-color: #c39a2b;
		margin: 0 auto;
		font: normal normal normal 100% 'Miniver', cursive;
	}

	#gradient {
		background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(195, 154, 43, 1));
	}

	#main-content {
		width: 100%;
		margin: 0 auto;
		background-color: rgba(255, 255, 255, 0.5);
		padding: 0 2.083333%;
	}

	h1, h2, h3 {
		font-family: 'Miniver', cursive;
	}

	/* =========== Logo Styles =========== */	
	h1 {
		font: normal normal normal 2em 'Miniver', cursive;
	}

	/* =========== Navigation Styling =========== */
	#nav li {
/*		background-color: yellow;
*/		list-style-type: none;
		float: left;
		padding-right: 6.25%;
	}

	#nav {
/*		background-color: orange;
*/		margin: 0;
		padding: 0;
		width: 33%;
		float: right;
		margin-top: 4.166667%;
	}

	#nav li a {
		color: #000;
		text-decoration: none;
		border-bottom: 1px solid #000;
	}

	#nav li a:hover {
		color: rgba(0, 0, 0, 0.5);
	}

	#nav li a:active {
		color: #fff;
	}

	/* =========== Logo Positioning and styling =========== */
	#logo {
		float: left;
/*		background-color: red;
*/		margin: 0;
		padding-top: 2.083333%;
		font-size: 3.75em;
	}

	/* =========== Info paragraphs styling and positioning =========== */
	#basic_info {
/*		background-color: red;
*/		padding-left: 4.166667%;
		padding-right: 4.166667%;
		margin-top: 10.41667%;
	}

	#basic_info p {
		text-align: left;
		font-style: italic;
		line-height: 1.5;
	}

	/* =========== Gallery styling, positioning, and list item reset =========== */
	#gallery {
		width: 100%;
		float: left;
		clear: left;
/*		background-color: red;
*/		padding-left: 4.166667%;
		margin: 0;
	}

	#gallery li {
		float: left;
		list-style-type: none;
		padding-right: 6%;
		margin: 0;
	}

	/* =========== Right column area styling and positioning =========== */
	#hercules {
		width: 50%;
		float: right;
		padding: 0;
		padding-bottom: 368px;
		margin: 0;
/*		background-color: rgba(255, 255, 255, .2);
		background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(195, 154, 43, 1)); */
		}

	#hercules p, #hercules h2 {
		text-align: justify;
		padding-left: 4.166667%;
		padding-right: 4.166667%;
	}

	#hercules img {
		padding-left: 6%;
	}
	
	/* =========== Main column styling and positioning =========== */
	#main-column {
		float: left;
		clear: left;
		width: 50%;
/*		background-color: rgba(255, 255, 255, .2);
		background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(195, 154, 43, 1));*/

	}

	#main-column p, #main-column h2{
		text-align: justify;
		padding-right: 4.166667%;
		padding-left: 4.166667%;
	}

	/* =========== See Also section styling and positioning ============ */
	#seealso {
/*		background-color: purple;
*/		float: left;
		clear: both;
		padding-left: 4.166667%;
	}

	/* =========== Footer positioning and styling =========== */
	#footer {
		clear: both;
		padding-left: 1.5625%;
		background-color: rgba(195, 154, 43, 0.5);
	}



	/* =========== Media Queries ============= */

	@media screen and (min-width: 960px) {
		#main-content {
			max-width: 960px;
		}
		/*body {
			width: 80%;
		}*/
	}

	@media screen and (min-width: 0px) and (max-width: 1000px) {

		#main-content {
			width: 100%;
			padding: 0;
		}

		#hercules, #main-column {
			background-image: none;
		}

		h1 {
			padding-left: 4.166667%;
		}

		#footer {
			background-color: #6e6e41;
			color: #ffffff;
		}

		#basic_info {
			background-color: rgba(0, 0, 0, .2);
			padding: 5px 0;
		}

	}

	@media screen and (max-width: 966px) {

		#gallery li {
			float: none;
		}

	}

	@media screen (min-width: 895px) and (max-width: 965px) {

		#nav {
			width: 50%;
		}

	}

	@media screen and (min-width: 0px) and (max-width: 895px) {

		#nav {
			width: 50%;
		}

		#main-column {
			float: none;
			clear: both;
			width: 95.833334%;
		}

		#hercules {
			float: none;
			clear: both;
			width: 100%;
		}

		#logo, #nav {
			clear: none;
		}

	}























